@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,400;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
.text-color {
  color: #e55473;
}
.btn-primary {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  border: 0;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

header {
  width: 100vw;
  height: 100vh;
  background: rgba(229, 84, 115, 0.1);
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-text {
  width: 45%;
}
.header-text h1 {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.header-text p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 20px 0;
}
.header-img {
  width: 45%;
}
.header-img img {
  width: 635px;
  height: 800px;
  position: bottom;
  overflow: hidden;
}

.deal-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 620px;
  background: rgba(229, 84, 115, 0.05);
  padding: 0 100px;
}
.deal-left h3 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
.deal-left p{
    margin-bottom: 20px;
}

.deal-left {
  flex-basis: 50%;
  padding-left: 100px;
}
.deal-right {
  flex-basis: 50%;
  padding-left: 100px;
}
.social-section{
    margin: 100px 0;
    padding: 0 100px;
}
.social-text h1 {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
.social-text p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 15px;
}
.social-img{
    display: flex;
    justify-content: space-around;
}
.social-img img{
    width: 342px;
    height: 396px;
}
.subscribe-section{
    padding: 0 100px;
}
.subscribe{
    background-image: url(/asset/Rectangle-9.png);
    background-repeat: no-repeat;
    border-radius: 8px;
    height: 449px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.email{
    padding: 20px 43px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    width: 700px;
}
.subscribe h1{
    margin-bottom: 20px;
}
.subscribe p{
    margin-bottom: 20px;
    color: rgba(39, 39, 39, 0.60);
}

